@keyframes shot{
	from {
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes shot{
	from {
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes ajax-loader-rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
        -webkit-transform: rotate(360deg); 
    }
}
@-webkit-keyframes ajax-loader-rotate {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
        -webkit-transform: rotate(360deg); 
    }
}
@-webkit-keyframes rota{
	from {
		-webkit-transform: rotateZ(0deg)
	}
	100%{
		-webkit-transform: rotateZ(360deg)
	}
}
@keyframes rota{
	from {
		transform: rotateZ(0deg)
	}
	100%{
		transform: rotateZ(360deg)
	}
}
@-webkit-keyframes slider{
    from {
        -webkit-transform:translateX(-100%)
    }
    50%{
        -webkit-transform:translateX(7.5rem)
    }
    to{
        -webkit-transform:translateX(-100%)
    }
}
@keyframes slider{
    from {
        transform:translateX(-100%)
    }
    50%{
        transform:translateX(7.5rem)
    }
    to{
        transform:translateX(-100%)
    }
}
